<script>
    _fns.addCtrlrJs('pie_welcome');
</script>

<!--控制器界面部分-->
<div id='pie_welcome' ng-controller='pie_welcome' class='container-fluid pie_welcome'>
    <style>
        /*内部样式，以.doc_devWeb开头*/
        .pie_welcome label {
            font-size: 2rem;
            font-family: inherit;
            text-align: left;
        }
        .pie_welcome input {
            font-size: 2rem;
            font-family: inherit;
        }
        .pie_welcome md-input-container {
            margin-top: 3rem
        }
        .pie_welcome .hint-min {
            color: #AAA;
            font-size: 12px;
            text-align: left;
        }
    </style>
    <div layout-padding>

        <div>
            <md-button hide-gt-sm class="md-icon-button" ng-click="$root.tagLeftMenu()" style='margin-left:0' aria-label='tagleft'>
                <span class="fa fa-bars fa-lg"></span>
            </md-button>
            <md-button class="md-icon-button hidden-xs" ng-click="$root.fold=!$root.fold;$root.tagLeftMenu()" style='margin-left:0;color:#AAA' aria-label='tagleft'>
                <span class="fa fa-bars fa-lg"></span>
            </md-button>
            <md-button class="md-raised md-accent" ng-click='openCreateDialog()' aria-label='doCreateApp'>新建APP</md-button>
            <md-button class="md-default" ng-click='getMyAppList()' aria-label='getMyAppList'>刷新</md-button>
        </div>
        <div layout layout-wrap class='container-fluid'>
            <div class='col-xs-12 col-sm-6 col-md-4 col-lg-2' ng-repeat='item in myApps.apps' style='padding:0.5rem'>
                <md-card md-theme="default" md-theme-watch style='margin:0;'>
                    <md-card-title class="elips" style='padding:0;overflow:hidden;position:relative'>
                        <div style="position:absolute;width:100%;height:100%;background-size:cover;opacity:0.4;border-radius: 4px 4px 0 0" ng-style='genCardBg2(item.val)'></div>
                        <div style="position:absolute;width:100%;height:100%;background-size:cover;opacity:0.4;border-radius: 4px 4px 0 0" ng-style='genCardBg(item.val)'></div>
                        <md-card-title-text class="elips" style='margin:16px;z-index:6'>
                            <div class="md-headline elips" ng-click='editApp(item.key)' style="cursor:pointer;">
                                <span class="md-headline elips" ng-bind='item.info.alias' style='color:#000'></span>
                            </div>
                            <span class="md-subhead elips" style='color:#000' ng-bind='item.info.name' ng-click='openApp(item.key)' style="cursor:pointer;"></span>
                        </md-card-title-text>
                    </md-card-title>


                    <!--   下拉菜单-->
                    <md-card-actions layout-wrap layout="row" layout-align="end center" style='color:#AAA'>
                        <md-menu style='padding:0'>
                            <md-button flex="initial" class="md-icon-button itbtn" md-no-ink ng-click="$mdOpenMenu($event)" aria-label='tagleft' style='width:50px;margin-right:0'>
                                <p style="color:#AAA">
                                    <span class="fa fa-bars"></span>
                                </p>
                            </md-button>
                            <md-menu-content>
                                <md-button flex='none' class="md-default" ng-click='openApp(item.key)' aria-label='a' style='color:#888'>
                                    <span class='fa fa-globe'></span>
                                    <span>打开</span>
                                </md-button>
                                <md-button flex='none' class="md-default" ng-click='editApp(item.key)' aria-label='a' style='color:#888'>
                                    <span class='fa fa-pencil'></span>
                                    <span>编辑</span>
                                </md-button>
                                <md-button flex='none' class="md-default" ng-click='renameApp(item.val)' aria-label='a' style='color:#888'>
                                    <span class='fa fa-refresh'></span>
                                    <span>改名</span>
                                </md-button>
                                <md-button flex='none' class="md-default" ng-click='doRemoveApp(item.key)' aria-label='a' style='color:#888'>
                                    <span class='fa fa-remove'></span>
                                    <span>移除</span>
                            </md-menu-content>
                        </md-menu>
                    </md-card-actions>
                </md-card>
            </div>
        </div>

        <!--      新建弹窗-->
        <div style="visibility: hidden">
            <div class="md-dialog-container" id="createDialog">
                <md-dialog layout-padding style='text-align:center;padding:24px;max-width:800px'>
                    <form name="userForm" style="margin-top:12px;width:400px;">
                        <md-content class="md-no-momentum" style='background:inherit'>
                            <md-input-container class="md-block" flex-gt-sm style='margin-top:24px'>
                                <label style="text-align:left;font-size:2rem">APP名称</label>
                                <input name='alias' ng-model="newApp.alias" ng-pattern="/^[a-zA-Z\u0391-\uFFE5]+[0-9a-zA-Z\u0391-\uFFE5]{2,17}$/" style='font-size:2rem;font-family:simhei' />
                                <div style='color:#AAA;text-align:left;font-size:12px'>中文,数字,字母都可以,3~18位非数字开头</div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm style='margin-top:48px'>
                                <label style="text-align:left;font-size:2rem">APP标识名</label>
                                <input name='name' ng-model="newApp.name" ng-pattern="/^[a-zA-Z]+[0-9a-zA-Z]{2,31}$/" style='font-size:2rem;font-family:simhei' />
                                <div style='color:#AAA;text-align:left;font-size:12px'>字母和数字，3~32位非数字开头。不可重名，设定后不可修改</div>
                            </md-input-container>
                        </md-content>
                    </form>
                    <div style="margin-top:1rem">
                        <md-button class="md-raised md-primary btn-lg" ng-click='doCreateApp()' style='width:180px;color:#FFF'>确定创建</md-button>
                        <md-button class="md-raised md-default btn-lg" ng-click='cancelCreateDialog()'>取消</md-button>
                    </div>
                </md-dialog>
            </div>
        </div>





    </div>
    <!--    页脚内容-->
    <div flex class="container" style="margin:5rem 1rem 10rem 2rem">
        <small style="color:#AAA">contributor is zhyuzh | QQ:286052520</small>
    </div>
</div>










<!---->
