<script>
    _fns.addCtrlrJs('pie_welcome');
</script>

<!--控制器界面部分-->
<div id='pie_welcome' ng-controller='pie_welcome' class='container-fluid pie_welcome doc_ctrlr'>
    <style>
        /*内部样式，以.doc_devWeb开头*/
    </style>
    <div layout-padding>

        <div>
            <md-button hide-gt-sm class="md-icon-button" ng-click="$root.tagLeftMenu()" style='margin-left:0' aria-label='tagleft'>
                <span class="fa fa-bars fa-lg"></span>
            </md-button>
            <md-button class="md-icon-button hidden-xs" ng-click="$root.fold=!$root.fold;$root.tagLeftMenu()" style='margin-left:0;color:#AAA' aria-label='tagleft'>
                <span class="fa fa-bars fa-lg"></span>
            </md-button>
            <md-button class="md-raised md-accent" ng-click='doCreateApp()' aria-label='doCreateApp'>新建APP</md-button>
            <md-button class="md-default" ng-click='getMyAppList()' aria-label='getMyAppList'>刷新</md-button>
        </div>
        <div layout layout-wrap class='container-fluid'>
            <div class='col-xs-12 col-sm-6 col-md-4 col-lg-2' ng-repeat='(key,val) in myApps.apps' style='padding:0.5rem'>
                <md-card md-theme="default" md-theme-watch style='margin:0'>
                    <md-card-title class="elips">
                        <md-card-title-text class="elips">
                            <div class="md-headline elips" >
                                <span class="md-headline elips" ng-bind='key'></span>
                            </div>
                            <span class="md-subhead" style='color:#CCC'>Alpha</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout-wrap layout="row" layout-align="end center" style='color:#AAA'>
                        <span class='btn btn-sm' ng-click='openApp(key)' style='padding:5px'>
                            <span class='fa fa-fire'></span>
                        <span>打开</span>
                        </span>
                        <span class='btn btn-sm' ng-click='editApp(key)'>
                            <span class='fa fa-pencil'></span>
                        <span>编辑</span>
                        </span>
                        <span class='btn btn-sm' ng-click='doRemoveApp(key)'>
                            <span class='fa fa-remove'></span>
                        <span>移除</span>
                        </span>
                    </md-card-actions>
                </md-card>
            </div>
        </div>

    </div>
    <!--    页脚内容-->
    <div flex class="container" style="margin:5rem 1rem 10rem 2rem">
        <small style="color:#AAA">contributor is zhyuzh | QQ:286052520</small>
    </div>
</div>










<!---->
