<script>
    _fns.addCtrlrJs('pie_temp');
</script>

<!--控制器界面部分-->
<div id='pie_temp' ng-controller='pie_temp' class='container-fluid pie_temp doc_ctrlr'>
    <style>
        /*内部样式，以.doc_devWeb开头*/
    </style>


    <div style='margin-top:2rem'>
        <md-input-container class="md-block" flex-gt-sm>
            <label>token</label>
            <input ng-model="uploader.token" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <file name="image" ng-model="uploader.file" />
            <small>选择上传文件</small>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click='uploadFile()' aria-label='uploadFile' aria-label='btn'>上传文件</md-button>
    </div>

    <div style='margin-top:2rem'>
        <md-input-container class="md-block" flex-gt-sm>
            <label>data</label>
            <input ng-model="uploader.data" />
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click='uploadData()' aria-label='uploadFile' aria-label='btn'>上传数据</md-button>
    </div>

    <div style="margin-top:2rem">
        <md-button ng-repeat='item in apis' class="md-primary" ng-click='goto(item.name)' ng-bind='item.name' aria-label='btn'></md-button>
    </div>
    <div>
        <h2>API接口测试</h2>
        <ol layout='column' style='margin-top:1rem'>
            <li ng-repeat='item in apis'>
                <h3 ng-attr-id='{{item.name}}' ng-bind='item.name'></h3>
                <div layout>
                    <p flex='20'>描述</p>
                    <p ng-bind='item.desc'></p>
                </div>
                <div layout>
                    <p flex='20'>方法</p>
                    <p ng-bind='item.method'></p>
                </div>
                <div>
                    <h4>reqDat</h4>
                    <div ng-repeat='(key,val) in item.reqDat'>
                        <md-input-container class="md-block" flex-gt-sm style='margin-top:2rem' ng-show='val!="file"' aria-label='btn'>
                            <label ng-bind='key'>...</label>
                            <input name="{key}" ng-model="item.sendDat[key]" aria-label='ipt' />
                            <small ng-bind='val'></small>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm style='margin-top:2rem' ng-show='val=="file"' aria-label='btn'>
                            <p ng-bind='key'>...</p>
                            <input type='file' name="{key}" ng-model="item.sendDat[key]" aria-label='ipt' />
                            <small ng-bind='val'></small>
                        </md-input-container>
                    </div>
                </div>
                <div>
                    <h4>respDat</h4>
                    <pre ng-bind='item.respDat  | json : 4' style="background:#FFF;padding:1rem"></pre>
                </div>
                <div style="margin-top:1rem">
                    <md-button class="md-raised md-primary" ng-click='item.sendPost()'>测试</md-button>
                    <div ng-show='item.recvDat' style="margin-top:1rem">
                        <p>测试结果</p>
                        <pre ng-bind='item.recvDat  | json : 4' style="background:#EEE;padding:1rem"></pre>
                    </div>
                </div>
            </li>
        </ol>
    </div>
    <!--    页脚内容-->
    <div flex class="container" style="margin:5rem 1rem 10rem 2rem">
        <small style="color:#AAA">contributor is zhyuzh | QQ:286052520</small>
    </div>
</div>









<!----------------->
<div style='padding:10px;height:100%;overflow-y:auto;background:url(http://img.article.pchome.net/00/55/28/02/pic_lib/wm/meinv_shoujibizhi1.jpg);background-size:cover;'>
    <div class="panel panel-default" ng-repeat="duihua in quanbuduihua" style='background:rgba(200,200, 200, 0.2)'>
        <div class="panel-body" style='font-weight:bold;background:rgba(255, 255, 255, 0.7)'>
            {{duihua.neirong}}
        </div>
        <div class="panel-footer" style='height:30px;font-size:12px;padding:5px 15px;background:rgba(255, 255, 255, 0.1)'>
            <img ng-src='{{duihua.touxiang}}' style='width:16px;height:16px;border-radius:16px;background:#F00' />
            <span>{{duihua.zuozhe}}</span>
            <span ng-bind='duihua.shijian | date:"yyyy-MM-dd HH:mm:ss"'></span>
        </div>
    </div>
    <div id='dibu' style='height:80px'></div>
</div>

<div style='position:absolute;bottom:0;padding:20px;border-top:1px solid #0AC;background:rgba(0, 200, 200, 0.5)'>
    <div class="input-group">
        <input type="text" ng-model='xinduihua' class="form-control" placeholder="请输入对话" aria-describedby="basic-addon2"></input>
        <span ng-click='tianjiaduihua()' class="input-group-addon" id="basic-addon2" style='cursor:pointer'>发送对话</span>
    </div>
</div>







<!--11111111111111-->
<div style="padding:15px">
    <div class="panel panel-default">
        <div class="panel-body">
            你好啊，女神！
        </div>
        <div class="panel-footer">李雷 发布于 2016-11-11 15:31:12</div>
    </div>
</div>

<div style="position:absolute;bottom:0;padding:15px">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="请输入留言" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">发送</span>
    </div>
</div>

<!--22222222222-->
<div style="padding:15px">
    <div class="panel panel-default" ng-repeat="duihua in quanbuduihua">
        <div class="panel-body">
            {{duihua.neirong}}
        </div>
        <div class="panel-footer">{{duihua.zuozhe}} 发布于 {{duihua.shijian | date:"yyyy-MM-dd HH:mm:ss"}}</div>
    </div>
</div>

<div style="position:absolute;bottom:0;padding:15px">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="请输入留言" aria-describedby="basic-addon2" ng-model="xinneirong">
        <span class="input-group-addon" id="basic-addon2" ng-click="fasong()">发送</span>
    </div>
</div>



<!---->
