<script>
    _fns.addCtrlrJs('pie_editor');
</script>
<!--控制器界面部分-->
<div id='pie_editor' ng-controller='pie_editor' class='container-fluid pie_editor doc_ctrlr' layout='start stretch' style="width:100%;height:100%;padding:0;overflow-y:hidden">
    <style>
        /*内部样式，以.doc_devWeb开头*/
        .pie_editor .itbtn {
            margin-left: 0;
            color: #AAA;
            min-width: 3rem;
            padding: 0;
        }
        .pie_editor .itbtn p {
            font-size: 12px
        }
        .pie_editor .lboder {
            /*            margin-left: 1px;*/
            border-left: 1px solid #DDD;
        }
        /*        移动端预览控制弹出按钮*/
        .pie_editor .itbtn2 {
            margin-left: 0;
            color: #AAA;
            min-width: 3rem;
            width: 100%;
            padding: 0;
        }
        .pie_editor .itbtn2 p {
            font-size: 12px;
            text-align: left;
        }
    </style>
    <div layout='column' style="width:100%">
        <div id='dragMask' style="width:100%;height:100%;opacity:0.1;position:absolute;background:#000;z-index:200;display:none"></div>

        <!--        顶部开关-->
        <div layout flex='none' id='menuSec' style="height:30px;border-left:1px solid #DDD">
            <div layout flex='grow'>
                <md-button class="md-no-ink md-icon-button itbtn" ng-click="$root.fold=!$root.fold;$root.tagLeftMenu()" aria-label='tagleft' style='width:39px;min-width:39px'>
                    <p style="color:#888">
                        <span class="fa fa-bars fa-1x"></span>
                    </p>
                </md-button>
                <md-divider></md-divider>
                <md-button flex="initial" class="md-icon-button itbtn" md-no-ink ng-click="tagPart('hideList')" aria-label='tagleft' style='width:90px'>
                    <p ng-hide='hideList' class="minbtn" style="color:#00bfa5">
                        <span class="fa fa-files-o fa-1x"></span>
                        <span>文件列表</span>
                    </p>
                    <p ng-show='hideList' style="color:#AAA">
                        <span class="fa fa-files-o fa-1x"></span>
                        <span>文件列表</span>
                    </p>
                </md-button>
                <md-divider></md-divider>
                <md-button flex="initial" class="md-icon-button itbtn" md-no-ink ng-click="tagPart('hideEditor')" aria-label='tagleft' style='width:70px'>
                    <p ng-hide='hideEditor' style="color:#00bfa5">
                        <span class="fa fa-edit fa-1x"></span>
                        <span>编辑</span>
                    </p>
                    <p ng-show='hideEditor' style="color:#AAA">
                        <span class="fa fa-edit fa-1x"></span>
                        <span>编辑</span>
                    </p>
                </md-button>
                <md-divider></md-divider>
                <md-button flex="initial" class="md-icon-button itbtn" md-no-ink ng-click="tagPart('hidePreview')" aria-label='tagleft' style='width:71px'>
                    <p ng-hide='hidePreview' style="color:#00bfa5">
                        <span class="fa fa-eye fa-1x"></span>
                        <span>预览</span>
                    </p>
                    <p ng-show='hidePreview' style="color:#AAA">
                        <span class="fa fa-eye-slash fa-1x"></span>
                        <span>预览</span>
                    </p>
                </md-button>
                <md-divider></md-divider>
            </div>

            <!--            移动端预览控制-->

            <div layout flex="initial" ng-hide="greatThan('sm') || hidePreview">
                <md-divider></md-divider>
                <md-menu style='padding:0'>
                    <md-button flex="initial" class="md-icon-button itbtn" md-no-ink ng-click="$mdOpenMenu($event)" aria-label='tagleft' style='width:50px;margin:0'>
                        <p style="color:#00bfa5">
                            <span class="fa fa-flask"></span>
                        </p>
                    </md-button>
                    <md-menu-content width="4">
                        <md-button flex="grow" md-no-ink class="itbtn2" ng-click="tagPreviewRt()" aria-label='tagleft'>
                            <p ng-hide='previewRt' style="color:#00bfa5">
                                <span class="fa fa-toggle-on fa-lg"></span>
                                <span>手工</span>
                            </p>
                            <p ng-show='previewRt' style="color:#AAA">
                                <span class="fa fa-toggle-off fa-lg"></span>
                                <span>实时</span>
                            </p>
                        </md-button>
                        <md-button flex="grow" ng-show='!previewRt' md-no-ink class="itbtn2" ng-click="refreshPreviewFrameUrl()" aria-label='tagleft'>
                            <p style="color:#00bfa5">
                                <span class="fa fa-refresh fa-lg"></span>
                                <span>刷新</span>
                            </p>
                        </md-button>
                        <md-button flex="grow" class="itbtn2" md-no-ink ng-click="openUrl()" aria-label='tagleft'>
                            <p style="color:#00bfa5">
                                <span class="fa fa-globe fa-lg"></span>
                                <span>新窗口</span>
                            </p>
                        </md-button>
                    </md-menu-content>
                </md-menu>
            </div>


            <!-- PC端预览控制-->
            <div layout flex="initial" ng-show="greatThan('sm') && !hidePreview">
                <md-divider></md-divider>
                <md-button flex="initial" class="md-icon-button itbtn" md-no-ink ng-click="openUrl()" aria-label='tagleft' style='width:70px'>
                    <p style="color:#00bfa5">
                        <span class="fa fa-globe fa-lg"></span>
                        <span>浏览</span>
                    </p>
                </md-button>
                <md-divider ng-show='!previewRt'></md-divider>
                <md-button flex="initial" ng-show='!previewRt' md-no-ink class="md-icon-button itbtn" ng-click="refreshPreviewFrameUrl()" aria-label='tagleft' style='width:70px'>
                    <p style="color:#00bfa5">
                        <span class="fa fa-refresh fa-lg"></span>
                        <span>刷新</span>
                    </p>
                </md-button>
                <md-divider></md-divider>
                <md-button flex="initial" md-no-ink class="md-icon-button itbtn" ng-click="tagPreviewRt()" aria-label='tagleft' style='width:70px'>
                    <p ng-hide='previewRt' style="color:#AAA">
                        <span class="fa fa-toggle-on fa-lg"></span>
                        <span>手工</span>
                    </p>
                    <p ng-show='previewRt' style="color:#00bfa5">
                        <span class="fa fa-toggle-off fa-lg"></span>
                        <span>实时</span>
                    </p>
                </md-button>

            </div>
        </div>
        <md-divider></md-divider>


        <!--      二维码弹窗-->
        <div style="visibility: hidden">
            <div class="md-dialog-container" id="qrcodeDialog">
                <md-dialog layout-padding style='text-align:center;width:360px'>
                    <a ng-href="{{qrcodeDialogUrl}}" target='_blank' style="padding:24px">
                        <div id="qrcode"></div>
                    </a>
                    <p style='width:100%;text-transform:none;word-break:break-all;font-size:16px' aria-label='a' >
                    <span>标识名: </span><span ng-bind="curApp.name"></span>
                    </p>
                    <p style='width:100%;text-transform:none;word-break:break-all;font-size:18px' aria-label='a' ng-bind='qrcodeDialogUrl'></p>
                </md-dialog>
            </div>
        </div>


        <!--        主体部分-->
        <div layout='row' layout-align='start stretch' style="width:100%;height:100%">

            <!--            文件列表部分-->
            <div flex='none' id='listPart' ng-hide='hideList' style="width:240px;border-left:1px solid #DDD">
                <div layout id='listMenus' style="min-width:200px;margin:1rem 1rem 0 1rem;padding:0.5rem">
                    <div flex='none' class="md-button md-default" style="min-width:2rem;min-height:2rem;width:2rem;padding:0;height:2rem;" ng-click='showQrcodeDialog()'>
                        <span class="fa fa-qrcode fa-2x"></span>
                    </div>

                    <div flex='grow' class="md-button md-default elips" style="min-width:2rem;min-height:2rem;width:2rem;padding:0;height:2rem;font-size:2rem;margin: 6px;line-height:2.2rem;text-align:left;background:none;text-transform:none" ng-bind='curApp.alias' ng-click='gotoApp()'></div>
                </div>
                <div layout='column' layout-padding>
                    <div layout='column' id='listFiles'>
                        <md-divider></md-divider>
                        <!--       存放上传过程中的文件的盒子-->
                        <div layout='column' id='uploadBox'>
                            <div layout ng-repeat='(key,val) in upFiles'>
                                <md-button flex='none' class="md-default" ng-click="abortUpload(val)" aria-label='a' style='min-width:40px;color:#AAA;margin-right:0'>
                                    <span class='fa fa-remove'></span>
                                </md-button>
                                <div flex='grow' class="md-primary elips" aria-label='a' style='margin-left:0;text-align:left;text-transform:none;line-height:4rem;position:relative'>
                                    <div style={{ 'background:#1ec38a;opacity:0.25;position:absolute;height:40px;margin-top:5px;width:'+val.percent+ '%'}} ng-show='val.percent<100'></div>
                                    <span flex='grow' aria-label='a' class='elips' style='margin-left:0;text-align:left;text-transform:none'>
                                    <span class="elips" ng-bind='val.name' style="color:#AAA"></span>
                                </div>
                            </div>
                        </div>

                        <!--       真正的文件列表-->
                        <div layout ng-repeat='item in appFiles' style="width:100%">

                            <!--   下拉菜单-->
                            <md-menu style='padding:0'>
                                <md-button flex="initial" class="md-icon-button itbtn" md-no-ink ng-click="$mdOpenMenu($event)" aria-label='tagleft' style='width:50px;margin-top:12px'>
                                    <p style="color:#AAA">
                                        <span class="fa fa-caret-down"></span>
                                    </p>
                                </md-button>
                                <md-menu-content width="3">
                                    <md-button flex='none' class="md-default" ng-click="doOpenFile(item.key)" aria-label='a' style='color:#888;'>
                                        <span class='fa fa-edit'></span>
                                        <span>编辑</span>
                                    </md-button>
                                    <md-button flex='none' ng-show='item.mimeType=="text/html"' class="md-default" ng-click="openUrl(item.key)" aria-label='a' style='color:#888;'>
                                        <span class='fa fa-globe'></span>
                                        <span>浏览</span>
                                    </md-button>
                                    <md-button flex='none' class="md-default" ng-click='showQrcodeDialog(item.key)' aria-label='a' style='color:#888;'>
                                        <span class='fa fa-qrcode'></span>
                                        <span>二维码</span>
                                    </md-button>
                                    <md-button flex='none' class="md-default" ng-click="deleteFile(item)" aria-label='a' style='color:#888;'>
                                        <span class='fa fa-remove'></span>
                                        <span>删除</span>
                                    </md-button>
                                </md-menu-content>
                            </md-menu>

                            <md-button flex='grow' ng-click="doOpenFile(item.key)" aria-label='a' style='margin-left:0;text-align:left;text-transform:none;margin:0' ng-class='{true:"md-accent elips",false:"md-default elips"}[item.key==curFileKey]'>
                                <span class="elips" ng-bind='item.key | fileName' ng-style="isPreviewFile(item)" style="padding-left:4px"></span>
                            </md-button>
                        </div>

                        <!--         列表下面的按钮组-->
                        <md-divider style='margin:1rem 0'></md-divider>
                        <md-button class="md-raised md-primary" ng-click="doAddNewFile()" aria-label='a' style='color:#FFF'>
                            <span class="fa fa-plus"></span>
                            <span>新建文件</span>
                        </md-button>

                        <!--       上传相关-->
                        <md-button id='uploadBtn' class="md-default" ng-click="doUploadFile($event)" aria-label='a'>
                            <span class="fa fa-cloud-upload"></span>
                            <span>上传文件</span>
                        </md-button>
                    </div>
                </div>
            </div>

            <!--       编辑器部分-->
            <div flex id='editorPart' layout='column' id='editorPart' ng-hide='hideEditor' class='lboder' style="min-width:480px">
                <!--            编辑器-->
                <div flex='grow' id='editorSec' style="background:#888;overflow-y:auto;box-shadow: 0 0 24px #666 inset;overflow-x: hidden;">
                    <div id='cmEditor' ng-model="curFileData" ui-codemirror-opts='cmOpt' ui-codemirror="{onLoad:cmLoaded}" style="box-shadow: 0 4px 4px #888888;boder:none;margin:-1px" ui-refresh='cmRefresh'></div>
                </div>
                <!--            底部菜单-->
                <div layout flex='none' layout-align='space-between center' id='menuSec' style="height:48px;padding:0 1rem;border-top: 1px solid #DDD">
                    <div layout flex='grow'>
                        <md-button class="md-raised md-accent itbtn" ng-click="doSaveFile()" aria-label='tagleft' style='color:#FFF;width:120px'>
                            <span class="fa fa-cloud-upload"></span>
                            <span>保存</span>
                        </md-button>
                    </div>
                    <div flex='none' style="padding-right:20px">
                        <md-button class="md-default itbtn" ng-click="changeCmEditorTheme()" aria-label='tagleft' style='color:#444;width:60px;margin-right:0;'>
                            <span class="fa fa-circle-o" ng-show='cmTheme=="default"'></span>
                            <span class="fa fa-circle" ng-hide='cmTheme=="default"'></span>
                            <span>主题</span>
                        </md-button>
                        <md-button class="md-default itbtn" ng-click="useTemplate()" aria-label='tagleft' style='color:#444;margin-right:0;width:60px'>
                            <span class="fa">[-]</span>
                            <span>模板</span>
                        </md-button>
                    </div>

                    <!--   编辑器语言mod-->
                    <div flex='none'>
                        <md-input-container class="md-block" flex-gt-sm style='width:10rem;margin:0.2rem'>
                            <md-select ng-model="cmOpt.mode">
                                <md-option ng-repeat="mod in cmModes" value="{{mod}}" ng-bind='mod'></md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </div>

            <!--            预览部分-->
            <div id='dragPreSizeBar' flex='none' ng-hide='hidePreview || !greatThan("xs")' style="width:8px;background:#F7F7F7;border-left:1px solid #DDD;cursor:col-resize;"></div>
            <div layout='column' flex='none' id='previewPart' ng-hide='hidePreview' class='lboder' style='width:480px;'>
                <!--            预览器-->
                <iframe id='previewFrame' ng-hide='previewRt' style="border-style:none;height:100%;width:100%;"></iframe>
                <div flex='grow' ng-show='previewRt' id='previewSec' ng-bind-html='curFileData | onlyBody  | toTrustHtml' style="border-left:1px dashed #ec407a;padding-left:1px">
                </div>
            </div>
        </div>
    </div>
</div>










<!---->
